absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
alabaster==0.7.16
altair==5.3.0
altgraph==0.17.4
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.1.0
appdirs==1.4.4
args==0.1.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.2
beniget==0.4.1
binwalk==2.3.3
blinker==1.8.2
blis==0.7.11
boto3==1.34.132
botocore==1.34.132
Brotli==1.1.0
build==1.2.1
cachetools==5.3.3
capstone==5.0.1
catalogue==2.0.10
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
colored-traceback==0.3.0
coloredlogs==15.0.1
command-not-found==0.3
commonmark==0.9.1
confection==0.1.5
contractions==0.1.73
courlan==1.2.0
cpplint==1.6.1
cryptography==3.4.8
customtkinter==5.2.2
cycler==0.11.0
cymem==2.0.8
darkdetect==0.8.0
dataclasses-json==0.6.7
dataclasses-json-speakeasy==0.5.11
datasets==2.20.0
dateparser==1.2.0
dbus-python==1.2.18
decorator==5.1.1
deepdiff==7.0.1
Deprecated==1.2.14
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
docformatter==1.7.5
docutils==0.15.2
email_validator==2.2.0
emoji==2.12.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
exrex==0.11.0
fairscale==0.4.13
fastapi==0.111.0
fastapi-cli==0.0.4
fastembed==0.3.1
filelock==3.15.4
filetype==1.2.0
flake8==7.1.0
flake8-bugbear==24.4.26
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.0
fpdf==1.7.2
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.5.0
fuzzywuzzy==0.18.0
gast==0.5.4
gensim==4.3.2
gitdb==4.0.11
gitdb2==4.0.2
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
gpt4all==2.7.0
greenlet==3.0.3
grpcio==1.64.1
gyp==0.1
h11==0.14.0
h5py==3.11.0
html5lib==1.1
htmldate==1.8.1
httpcore==1.0.2
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
hydra-core==1.3.2
idna==3.6
imagesize==1.4.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
intervaltree==3.1.0
iopath==0.1.10
ipython==8.25.0
itsdangerous==2.2.0
jedi==0.19.1
jeepney==0.7.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jusText==3.0.1
keras==3.4.0
keyring==23.5.0
kiwisolver==1.3.2
kubernetes==30.1.0
langchain==0.2.5
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
langchain-text-splitters==0.2.1
langcodes==3.4.0
langdetect==1.0.9
langsmith==0.1.82
language_data==1.2.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==18.1.1
loguru==0.7.2
lxml==5.2.2
lxml_html_clean==0.1.1
lz4==3.1.3+dfsg
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.5.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
ml-dtypes==0.3.2
mmh3==4.1.0
mock==5.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
myst-parser==1.0.0
namex==0.0.8
nest-asyncio==1.6.0
NetfilterQueue==1.1.0
netifaces==0.11.0
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
npm==0.1.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnx==1.16.1
onnxruntime==1.18.0
openai==1.35.3
openpyxl==3.0.10
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optional-django==0.1.0
optree==0.11.0
ordered-set==4.1.0
orjson==3.10.5
overrides==7.7.0
packaging==23.2
pandas==2.1.4
paramiko==3.4.0
parlai==0.9.0
parso==0.8.4
pexpect==4.9.0
pillow==10.3.0
pluggy==1.5.0
plumbum==1.8.3
ply==3.11
portalocker==2.10.0
posthog==3.5.0
preshed==3.0.9
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pulsar-client==3.5.0
pure-eval==0.2.2
pwn==1.0
pwntools==4.12.0
py-gfm==2.0.0
py-rouge==1.1
pyahocorasick==2.1.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.0
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.1
pydyf==0.10.0
pyelftools==0.31
pyflakes==3.2.0
Pygments==2.18.0
PyGObject==3.42.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.3.0
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pypdf==4.2.0
pyphen==0.15.0
PyPika==0.48.9
pyproject_hooks==1.1.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
pyserial==3.5
PySocks==1.7.1
PyStemmer==2.2.0.1
pytest==8.2.2
pytest-datadir==1.5.0
pytest-regressions==2.5.0
python-apt==2.4.0+ubuntu3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.24
python-multipart==0.0.9
pythran==0.10.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==26.0.3
rapidfuzz==3.9.3
recommonmark==0.7.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-futures==1.0.1
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.3
rich==13.7.1
ro-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ro_core_news_sm-3.7.0/ro_core_news_sm-3.7.0-py3-none-any.whl#sha256=28cbf267ec1b7dda264258d084000d6a82f4c3a7efd7ba1823c38d15914a4fc2
ROPGadget==7.4
rpds-py==0.18.1
rpyc==6.0.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.14.0
SecretStorage==3.3.1
sentence-transformers==3.0.1
sentencepiece==0.2.0
sh==2.0.7
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==5.3.0
sphinx-autodoc-typehints==1.23.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.31
srsly==2.4.8
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.37.2
stem==1.8.2
streamlit==1.36.0
subword-nmt==0.3.8
sympy==1.12.1
systemd-python==234
tabulate==0.9.0
tenacity==8.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
textsearch==0.0.24
tf_keras==2.16.0
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.7.0
tinycss2==1.3.0
tk==0.1.0
tld==0.13
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.3.1
torchdata==0.7.1
torchtext==0.18.0
torchvision==0.18.1
tornado==6.4.1
torrequest==0.1.0
tqdm==4.66.4
trafilatura==1.10.0
traitlets==5.14.3
transformers==4.41.2
triton==2.3.1
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
unicodedata2==14.0.0
unicorn==2.0.1.post1
Unidecode==1.3.7
unix-ar==0.2.1
unstructured==0.14.8
unstructured-client==0.23.7
untokenize==0.1.1
urllib3==2.1.0
uvicorn==0.30.1
uvloop==0.19.0
wadllib==1.3.6
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websocket-server==0.6.4
websockets==12.0
Werkzeug==3.0.3
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==1.0.0
zopfli==0.2.3
zstandard==0.22.0
